body { 
    background-color: rgb(44, 44, 44);
}

.h1 {
    text-align: center;
    color: whitesmoke;
    background-color: black;
    
}
.form {
    color: rgb(255, 255, 255);
    background-color: rgb(168, 133, 47);
    border: solid 5px;
    border-color: rgb(0, 0, 0);
    display:inline-table;
    text-align: center;
    ;
    
}
#name {
    width: 300px;
    color: white;
    
}
#email {
    width: 300px;
}
#message {
    width: 300px;

}
nav {
    background-color: whitesmoke;
    box-shadow: -2px black;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    left: 0;
    right: 0;
    margin-left: 95px;
    margin-right: 95px;

}
.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
a:hover {
    color:black
}

a:visited {
    color: rgb(93, 93, 93);
}
.sidenav {
    height: 100%;
    width: 100px;
    z-index: 1;
    background-color: rgb(168, 133, 47);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid 3px whitesmoke;
    
}
.main {
    margin-left: 95px;
}
.side2 {
    height: 100%;
    width: 100px;
    z-index: 1;
    background-color: rgb(168, 133, 47);
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: solid 3px whitesmoke;
}
.info {
    margin-left: 10px;
    margin-right: 100px;
}
.box {
    margin: auto;
    color: rgb(255, 255, 255);
}
.buttons {
    color: rgb(168, 133, 47);
}