.statement {
    font-size: 15px;
    padding-right: 215px;
    margin-top: 50px;
    color:aliceblue;
    margin-right: 130px;
    margin-left: 5px;
}

.Daulton {
    /* margin-left: 280px; */
    margin-top: -130px;
    float: right;
    margin-right: 120px;
    width: 190px;
       
}

.title {
    color: aliceblue;
}

.quote {
    color: aliceblue;
    margin-top: 160px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-right: 100px;

}

nav {
    background-color: whitesmoke;
    box-shadow: -2px black;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    left: 0;
    right: 0;
    margin-left: 95px;
    margin-right: 95px;

}

.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
a:hover {
    color:black
}

a:visited {
    color: rgb(93, 93, 93);
}
.buttons {
    color: rgb(168, 133, 47);
}
.sidenav {
    height: 100%;
    width: 100px;
    z-index: 1;
    background-color: rgb(168, 133, 47);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid 3px whitesmoke;
    
}
.main {
    margin-left: 95px;
}
.side2 {
    height: 100%;
    width: 100px;
    z-index: 1;
    background-color: rgb(168, 133, 47);
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: solid 3px whitesmoke;
}
#foot {
    text-align: center;
    color: rgb(168, 133, 47);
    margin-bottom: 100px;

}