nav {
    background-color: whitesmoke;
    box-shadow: -2px black;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    left: 0;
    right: 0;

}

.pic1 {
    width: 240px;
    margin-left: 1em;
    margin-bottom: 1em;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-top: 40px;
    
}

.pro {
    background-color: white;
  
}
.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
a:hover {
    color:black
}

a:visited {
    color: rgb(93, 93, 93);
}